<form action="/" method="post">
  <h3>글의 ID를 입력해주세요.</h3><br>
  <h4>ID 찾는 방법: https://gall.dcinside.com/mgallery/board/view/?id=lastorigin&no=xxxxxxx 에서 xxxxxxx에 있는 번호 입력</h4><br>
  <input type="number" name="id" id="id" /><br>
  <input type="submit">
</form>
<h3>{{message}}</h3>
